{:customREPLCommandSnippets
 [
  {:name "Kindly render in webview",
   :repl "clj",
   :key "k",
   :snippet "(do (require '[scicloj.kindly-render.note.to-hiccup-inline-js :as to-hiccup-inline-js] '[hiccup.core :as h]) (let [ html (->> (to-hiccup-inline-js/render {:value $current-form}) :hiccup h/html)] (tagged-literal 'flare/html {:html html :title \"kind\" :key \"kind\"})))"
   }
  ]}

;; key bindings
;; invoke as commands