{:customREPLCommandSnippets
 [{:name "Eval and browser"
   :key "v"
   :snippet (do $current-form "https://localhost:1971")
   :command ["simpleBrowser.show"]}
  {:name "Info test"
   :key "i"
   :snippet ["calva.info" "Hi there!" "OK"]
   :resultIsCommand true},
  {:name "Webview test"
   :key "w"
   :snippet ["calva.webview" {:url "https://calva.io"}]
   :resultIsCommand true},
  {:name "Webview test2"
   :key "u"
   :key-binding "option+u"
   :modal ", a c"
   :snippet ["calva.webview" {:url "https://calva.io"}]
   :resultIsCommand true}]}

;; key bindings
;; invoke as commands